.wrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  flex-shrink: 0;
  padding: 16px;
  background: #ffe5e5;
  z-index: 1;
}

.saveButton {
  /* margin-top: 20px; */
  background-color: rgb(137, 112, 160);
  color: white;
  border: 1px solid rgb(110, 89, 130);
  cursor: pointer;
  outline: none;
  font-size: 12px;
}

.saveButton:hover {
  background-color: rgb(122, 98, 144);
}

.saveButton:focus,
.saveButton:active {
  outline: none;
  border: 1px solid rgb(110, 89, 130);
}

.nameInput {
  margin-left: 12px;
  background-color: #b398cfbf;
  border-radius: 5px;
  margin-top: 5px;
  width: 100px;
  border: 1px solid #ac93c6bf;
}

.nameInput:focus {
  outline: none;
  border: 1px solid #b398cfbf;
}

.folderTreeContainer {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background: #f9f9f9;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .folderTreeContainer {
    flex: unset;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }
}
